<%= link_to_function 'save', 'do_save()' %>
<div id="example"></div>
<script type="text/javascript">
  var data = gon.items

  $('#example').handsontable({
    data: data,
    //manualRowResize: true,
    minSpareRows: 1,
    colHeaders: false,
    contextMenu: false,
    contextMenu: ['row_above', 'row_below', 'remove_row'],
    readOnly: true,
    columns: [
      {
        type: 'numeric',
      },
      {
        type: 'numeric',
      },
      {
        readOnly: false
      },
      {
        type: 'numeric',
        readOnly: false
      },
      {
        type: 'numeric',
        format: '0,0.00 $',
        readOnly: false
      },
      {
        type: 'numeric',
        format: '0,0.00 $'
      }
    ]
  });

  function do_save(){
    var data = $('#example').data('handsontable').getData();
    $.ajax({
      type: 'POST',
      url: "<%= display_bulk_update_path %>",
      data: JSON.stringify({follows: data}),
      dataType: 'json',
      contentType: 'application/json',
      success: function( data, textStatus, jqXHR ) {
        $.each(data.message, function(){
          alert(this);
        });
      }
    });
  }
</script>
